.wordle {
  background-color: transparent;
  color: var(--accent-color);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100vw;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.tile {
  padding: .5rem;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  border-radius: .5rem;
  margin: 1rem 1px;
}

.tile:nth-child(1) {
  --nth: 1;
}

.tile:nth-child(2) {
  --nth: 2;
}

.tile:nth-child(3) {
  --nth: 3;
}

.tile:nth-child(4) {
  --nth: 4;
}

.tile:nth-child(5) {
  --nth: 5;
}

.add {
  --transition-time: .5s;
  animation: var(--transition-time) forwards selected;
  animation-delay: calc((var(--nth) - 1) * var(--transition-time) / 3);
  /* animation: .1s infinite selected; */
}

.added {
  animation: 0s forwards selected;
  /* animation: 10s infinite selected; */
}

.alert {
  z-index: 2;

  position: fixed;

  --width: 20rem;
  --height: 15rem;
  width: var(--width);
  height: var(--height);
  top: calc(50vh - var(--height) / 2);
  left: calc(50vw - var(--width) / 2);
  background-color: var(--accent-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;

}

.alert::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, .3);
  z-index: 1;
}

.alert p {
  font-size: 1rem;
  text-align: center;
}

.alert button {
  background-color: var(--main-color);
  padding: .5rem 1rem;
  border-radius: 1rem;
  border: transparent;
}